<section data-ng-controller='HeaderController'>
    <nav class="navbar navbar-default">
      <!--  <button type="button" class="navbar-toggle collapsed hidden-sm-up" data-toggle="collapse" data-target="#CollapseNavbar">&#9776</button>-->
        <ul class="nav active" >
            <li><a href="#">INICIO</a></li>
            <li><a href="#">ACERCA DE</a></li>
            <li><a href="#">REGISTRO</a></li>
            <li id="logo" class="navbar-brand"><img src="modules/core/img/logo.svg" alt="logo"/></li>
            <li><a href="#">AGENDA</a></li>
            <li><a href="#">COMITES</a></li>
            <li><a href="#">CONTACTENOS</a></li>
        </ul>
    </nav>
    </div>
</section>
