<section data-ng-controller='HeaderAdminController'>
    <div id="adminViewsDiv" ui-view='adminViews'></div>
    <aside id="navAdmin">
        <nav class="navbar ">
            <ul class="nav active">
                <li>
                    <a ui-sref="homeAdmin"><i id="logoAdmin"class="icon-logo"></i></a>
                </li>
                <li>
                    <a ui-sref="presidents"><i class="icon-user"></i></a>
                </li>
                <li>
                    <a ui-sref="matrix"><i class="icon-list"></i></a>
                </li>
                <li>
                    <a ui-sref="chronometer"><i class="icon-clock"></i></a>
                </li>
                <li>
                    <a ui-sref="lister"><i class="icon-clipboard"></i></a>
                </li>
                <li>
                    <a ui-sref="users"><i class="icon-userList"></i></a>
                </li>
                <li>
                    <a ui-sref="qr"><i class="icon-qr"></i></a>
                </li>
            </ul>
        </nav>
    </aside>
</section>
