<section data-ng-controller='HeaderAdminController'>
    <aside id="navAdmin">
        <nav class="navbar ">
            <ul class="nav active">
                <li>
                    <img src="modules/core/img/logo.svg" alt="logo" />
                </li>
                <li>
                    <a href="#"><i class="icon-user"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-list"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-userList"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-qr"></i></a>
                </li>
            </ul>
        </nav>
    </aside>
</section>
