<section data-ng-controller='SocialController'>
    <footer >
      <div id="divFooter">
        <div id="arrowFooter">
            <div id="arrowFooterDiv"></div>
        </div>
        <div id="headFooter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="cajaFlex">
                    <a href="https://www.facebook.com/munum.17" target="_blank"><div class="caja icon-facebook"></div></a>
                    <a href="https://www.instagram.com/munum.17/" target="_blank"><div class="caja icon-instagram"></div></a>
                    <a href="" target="_blank"><div class="caja icon-youtube"></div></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                <h3>Design by <span>JEISSON F. SANCHEZ</span></h3>
            </div>
        </div>
        <div id="bodyFooter">
            <div class="bodyFooterBoxFlex">
              <div class="bodyFooterBox col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
              <div class="bodyFooterBox col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
              <div class="bodyFooterBox col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            </div>
        </div>
        </div>
    </footer>
</section>
