.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important; }

@font-face {
  font-family: "lemonMilk";
  src: url("../../../lib/fonts/lemonMilk.otf") format("opentype"); }

@font-face {
  font-family: "adam";
  src: url("../../../lib/fonts/adam.otf") format("opentype"); }

body {
  overflow: hidden; }

/*@media screen and (max-width: 780px) {
    .navbar {
        .nav {
            display: flex;
            flex-direction: column;
        }

        #logo {
            display: none;
        }
    }
}*/
