$grey: #757575;
$blue: #37474f;
$purple: #7a6a93;
$white: white;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
	color: $white;
  .top-bar{
		height: 60px;
		background-color: $purple;
	}
}
