//crear variables => $naranja: #000000;
//importa un archivo => @import 'nombre'

/*=border-radius($radius)
  -webkit-border-radius: $radius
     -moz-border-radius: $radius
      -ms-border-radius: $radius
          border-radius: $radius*/

/*+border-radius: 5px*/


$blue: #757575
$purple: #7a6a93

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

body
  font-family: 'Open Sans',Arial,Helvetica,sans-serif
  font-size: 14px
  font-style: normal
  font-weight: normal
  header
		.logoArea
			height: 200px
      background-color: #7a6a93
