@import 'core';

#navAdmin {
    height: 100vh;
    width: 70px;
    background-color: $yellowMUNUM;
    position: fixed;
    ul {
        li {
            width: 70px;
            height: 70px;

            a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                #logoAdmin{
                  font-size: 30px !important;
                }
                i {
                    font-size: 20px;
                    color: $organgeMUNUM;
                }
            }

            a:active a:link {
              background-color: $yellowMUNUM;
                i {

                    color: white;
                }
            }
        }
    }
}

#adminViewsDiv{
  position: absolute;
  left: 70px;
  width:100%;
  height: 100%;
}
