doctype html
html(lang='es')
  head
    title #{title}
    meta(charset='utf-8')
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    link(href='/modules/core/img/brand/logo.ico', rel='shortcut icon', type='image/x-icon')
    each cssFile in cssFiles
      link(rel='stylesheet', href=cssFile)

  body
    
    section(data-ui-view)
    section(ui-view='login')
    section(ui-view='social')
    
    img(src="foto.jpg" alt="" width="100%")

    each jsFile in jsFiles
      script(type='text/javascript', src= jsFile)
